
body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

header {
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    margin-top: 20px;
}
/* Para telas maiores */
@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {      display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0 20px;
    }

    section {
        max-width: 1200px;
        margin: 20px auto;
    }
}

